services:

  db:
    image: postgres:17
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: cloudstorage
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  minio:
    image: minio/minio
    container_name: minio
    ports:
       - "9000:9000"
       - "9001:9001"
    volumes:
      - minio_data_dev:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"


  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data_dev:/data
    restart: unless-stopped

volumes:
  postgres_data_dev:
  minio_data_dev:
  redis-data_dev:


