server:
  tomcat:
    max-swallow-size: -1
    max-http-form-post-size: -1

spring:
  profiles:
    default: dev

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 3000MB

  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: db/changelog/main-changelog.xml

  data:
    redis:
      port: 6379

  session:
    store-type: redis

  minio:
    access-key: ${MINIO_ROOT_USER}
    secret-key: ${MINIO_ROOT_PASSWORD}
    bucket-name: user-files